@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 1216px;
  margin: auto;
}

button {
  border-radius: 40px;
  width: 210px;
  height: 40px;
  font-weight: 500;
  border: none;
  color: #ffffff;
}

.gradient {
  background: linear-gradient(90deg, #A0D2DB 0%, #726DA8 100%);
}
.gradient:hover {
  background: linear-gradient(90deg, #726DA8 0%, #A0D2DB 100%);
}

.blue {
  background-color: #394573;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 10px;
}
.header__logo {
  display: flex;
}
.header__logo-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 65px;
  color: #333333;
  padding-left: 20px;
  margin: 0;
}
.header__menu ul {
  margin: 0;
  font-size: 23px;
  font-weight: 500;
}
.header__menu li {
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
}
.header__menu-link {
  text-decoration: none;
  color: black;
}
.header__menu-link:hover {
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid;
  background-color: #726DA8;
  color: #ffffff;
}
.header__social {
  display: flex;
}
.header__social-inst {
  height: 40px;
  width: 40px;
  margin-right: 28px;
}
.header__social-teleg {
  height: 40px;
  width: 40px;
  margin-right: 28px;
}

.left {
  text-align: left;
}

.carousel-caption {
  top: 40px;
  bottom: auto;
}

.cat2-none {
  display: none;
}

.dog2-none {
  display: none;
}

.item-title {
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
}
.item-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
}
.item-price {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.light {
  color: #BEE7E8;
}

.dark {
  color: #394573;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 70px auto;
}

.card__consultant {
  position: relative;
  width: 592px;
  height: 630px;
  background-image: url(/public/image/consultation.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 40px;
  display: flex;
  align-items: flex-end;
}
.card__consultant-hidden {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
  border-radius: 40px;
}
.card__consultant-block {
  margin-right: 200px;
  margin-bottom: 130px;
  margin-left: 40px;
}
.card__consultant-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.hidden {
  margin-top: 48px;
  margin-left: 40px;
  margin-bottom: 49px;
}
.hidden-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #394573;
}
.hidden-price {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #A0D2DB;
}
.hidden ul {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #333333;
}
.hidden li {
  line-height: 1.5;
  margin-bottom: 20px;
}

.card__consultant:hover .card__consultant-hidden {
  display: block;
}

.card__articles {
  position: relative;
  width: 592px;
  height: 630px;
  background-image: url(/public/image/articles.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card__articles a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}
.card__articles a:hover {
  text-decoration: none;
  color: #fee2d1;
  font-size: 26px;
}
.card__articles-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  margin: 0 40px 16px 40px;
}
.card__articles-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0 40px 49px 40px;
}
.card__articles-link {
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  margin: 0 40px 21px 40px;
}

.button a {
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
}

.switch {
  display: flex;
  margin: 0;
  width: 50%;
  margin-left: 55px;
  justify-content: center;
  align-self: center;
}
.switch__input {
  margin: 0;
  width: 100px;
}
.switch__input-text {
  line-height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #394573;
}
.switch-title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  color: #394573;
  margin-left: 85px;
}

.pop_up {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.pop_up.active {
  display: block;
}

.pop_up_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.pop_up_body {
  margin: auto;
  width: 500px;
  background-color: #ffffff;
  border-radius: 40px;
  text-align: center;
  padding: 48px 15px 48px 15px;
  position: relative;
}
.pop_up_body_p {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #394573;
  margin-bottom: 16px;
}

.pop_up_body input {
  display: block;
  margin: 3px auto 18px auto;
  padding: 1px;
  width: 330px;
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #726DA8;
}
.pop_up_body input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #394573;
}
.pop_up_body input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #394573;
}

input.required:focus:invalid {
  border: 2px solid red;
}

input.required:invalid {
  border-bottom: 2px solid #726DA8;
}

input.required:focus:valid {
  border: none;
}

input.required:valid {
  border: none;
}

input.required {
  transition: border 0.3s ease-in-out;
}

.pop_up_body input:focus {
  outline: none;
}

.pop_up_close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 21px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #394573;
}

@media screen and (min-width: 525px) {
  .burger {
    display: none;
  }
}
@media screen and (max-width: 525px) {
  .header {
    display: none;
  }
  .cat-none {
    display: none;
  }
  .dog-none {
    display: none;
  }
  .burger {
    display: flex;
    justify-content: flex-end;
  }
  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
  }
  nav {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    align-items: center;
  }
  nav li {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  nav ul {
    padding: 0;
  }
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    padding: 15px;
    background: #394573;
    transform: translateX(-100%);
    transition: transform 0.5s;
    display: flex;
  }
  .menu.active {
    transform: translateX(0);
  }
  .menu li {
    list-style-type: none;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  .burger {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
  .burger__logo {
    display: flex;
    align-items: center;
  }
  .burger__logo-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 65px;
    color: #333333;
    padding-left: 20px;
    margin: 0;
  }
  .left {
    text-align: left;
  }
  .carousel-caption {
    top: 0px;
    bottom: auto;
  }
  .item-title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .item-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    height: 50px;
    margin-bottom: 30px;
  }
  .item-price {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 55px;
    margin-bottom: 130px;
  }
  button {
    border-radius: 40px;
    width: 160px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    color: #ffffff;
  }
  .pop_up_body {
    width: 300px;
  }
  .pop_up_body input {
    width: 230px;
    margin: 3px auto 18px 18px;
  }
  .pop_up_body input::-moz-placeholder {
    font-size: 16px;
    line-height: 22px;
    color: #394573;
  }
  .pop_up_body input::placeholder {
    font-size: 16px;
    line-height: 22px;
    color: #394573;
  }
  .cat2-none {
    display: flex;
    justify-content: center;
    margin: 0;
    border-radius: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .dog2-none {
    display: flex;
    justify-content: center;
    margin: 0;
    border-radius: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .carousel-item {
    max-height: 542px;
    max-width: 380px;
    margin: 0;
    width: 100%;
    margin: auto;
  }
  .card__consultant {
    max-height: 325px;
    max-width: 380px;
    margin-bottom: 40px;
  }
  .card__consultant-block {
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
  }
  .card__consultant-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
  }
  .hidden {
    margin: 0;
    margin-left: 20px;
    height: 342px;
    width: 280px;
  }
  .hidden-title {
    font-size: 18px;
    line-height: 29px;
  }
  .hidden-price {
    font-size: 12px;
    line-height: 29px;
  }
  .hidden .hidden-list li {
    margin: 0;
    padding: 0;
    font-size: 12px;
    margin-top: 10px;
    line-height: 17px;
  }
  .hidden li {
    line-height: 1;
    margin-bottom: 20px;
  }
  .card__articles {
    height: 326px;
    background-image: url(/public/image/articles.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .card__articles a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
  }
  .card__articles a:hover {
    text-decoration: none;
    color: #fee2d1;
    font-size: 20px;
  }
  .card__articles-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .card__articles-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0 0 5px 40px;
  }
  .card__articles-link {
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 21px 40px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #394573;
  }
}/*# sourceMappingURL=style.css.map */